@use "base";

// Buttons
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;

    background-color: base.$color-primary;
    color: base.$color-font-light;
}

.btn:hover {
    opacity: 0.7;
}

// Forms

// Cards 
.card {
    background: base.$color-background-light;
    border: 1px solid base.$color-border;
    border-radius: base.$size-border;
    padding: 1rem;
}