@use "base";

// Buttons
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;

    background-color: base.$color-primary;
    color: base.$color-font-light;
}

.btn:hover {
    opacity: 0.7;
}

// Forms
input,
select,
textarea {
    font: inherit;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
}

input{
    border: 1px solid base.$color-border;
}

// Search-forms
.search-form{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    gap: 1rem;
    margin: 2rem 0;
}

// Cards 
.card {
    background: base.$color-background-light;
    border: 1px solid base.$color-border;
    border-radius: base.$size-border;
    padding: 1rem;
    margin-bottom: 2rem;
}

// Weather cards
.day-card{
    background: base.$color-background;
    border-radius: base.$size-border;
    border: 1px solid base.$color-border;
    width: auto;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-weight: 500;
    }
    .deg-max{
        color: base.$color-font;
    }
    .deg-min{
        color: base.$color-font-grey;
    }
}

// Cards - courser
.course {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 1rem;

    .course_image{
        img {
            width: auto;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .course_info {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
        gap: 0.5rem;
    }

    .course_weather {
        border: 1px solid red;
        padding: 0.5rem 0;
    }
}