@use "base";

// Containers 
.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 1rem;
}

// Header
header {
    height: 70px;
    background: base.$color-primary;
    color: base.$color-font-light;

    .logo {
        display: block;
        height: 65px;
        width: auto;
    }
    img {
        display: block;
        max-width: 100%;
    }

}

footer {
    background: base.$color-secondary-dark;
    min-height: 250px;
    color: base.$color-font-light;
    padding: 1rem 0;
}