@use "base";

// Containers 
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
}

// Header
header {
    height: 70px;
    background: base.$color-primary;
    color: base.$color-font-light;

    .logo {
        display: block;
        height: 65px;
        width: auto;
    }
    img {
        display: block;
        max-width: 100%;
    }

}

main {
    min-height: calc(100dvh - 315px);
}

// Weathercard
.card--weather{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.card--weather.hidden{
    display: none;
}

// Section courses
.courses{
    h2{
        margin-bottom: 1rem;
    }
}

// Footer
footer {
    background: base.$color-secondary-dark;
    min-height: 250px;
    color: base.$color-font-light;
    padding: 1rem 0;
}